.calendar-dialog-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-right: 8px;
}

[mat-dialog-title] {
  margin: 0;
}

.calendar-dialog-fw {
  width: 100%;
}

mat-dialog-content {
  display: flex;
  flex-direction: column;
  min-width: clamp(280px, 80vw, 420px);
  /* gap: 1rem; */
  padding-top: 8px;
}

.calendar-cancel-btn {
  color: #B00020 !important;
  margin-right: 10px;
}